.fade-in {
    opacity: 0;
    animation: fadeIn ease 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.slide-in {
    position: relative;
    left: -500px;
    opacity: 0;
    animation: slideIn ease 2s, fadeIn ease 2s;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    0% { left: -500px; opacity: 0; }
    100% { left: 0px; opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}